DJANGO_SECRET_KEY=your-secret-key-change-this-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=admin.plsofttech.com,adminapi.plsofttech.com,plsofttech.com
CORS_ALLOWED_ORIGINS=https://admin.plsofttech.com,https://adminapi.plsofttech.com,https://plsofttech.com
CSRF_TRUSTED_ORIGINS=https://adminapi.plsofttech.com,https://admin.plsofttech.com,https://plsofttech.com

DB_ENGINE=django.db.backends.postgresql
DB_NAME=pl
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL="PL Soft Tech HR <hr@plsofttech.com>"

COMPANY_NAME="PL Soft Tech Solutions"
FRONTEND_LOGIN_URL=https://admin.plsofttech.com/login
